[Unit]
Description=Discover ABR every six hours

[Timer]
OnCalendar=*-*-* 00,06,12,18:00:00 UTC
Persistent=true
RandomizedDelaySec=120
Unit=abr-engine-abr.service

[Install]
WantedBy=timers.target
